.DS_Store
.cache
dist
node_modules
*.sw*
dist/*
dist/capstone-project.e31bb0bc.js
dist/capstone-project.e31bb0bc.js.map
dist/style.e308ff8e.css
dist/style.e308ff8e.css.map
dist/style.e308ff8e.js
dist/style.e308ff8e.js.map
