/* @media (min-width: 500px){
    .hamburgerIcon > .fa-bars {
        display: none;
    }
}

@media (max-width: 500px){
.hamburgerIcon > .tab-list {
    display: none;
}
} */

/* :root {
    font-family: 'Poiret One', cursive;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(165, 165, 165);
    --bg-primary: rgb(107, 34, 155);
    --bg-secondary: rgb(170, 67, 238);
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(180, 91, 240);
}

.logo {
    color: rgb(221, 213, 213);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

#nav-links li {
    list-style: none;
}

#nav-links a {
    color: rgb(221, 213, 213);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(221, 213, 213);
    margin: 5px;
}

@media screen and (max-width:1024px) {
    #nav-links {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    #nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(180, 91, 240);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translate(100%);
        transition: transform 1s ease-in;
    }
    #nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg, translate(-5px 6px));
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg translate(-5px, 6px));
}

/* .navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar > ul > li > a:link {
    color: white;
    text-decoration: none;

}

.tab-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary)
    text-decoration: none;
}



body {
    height: 100%;
    width: 100%;
    margin: 0;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width:0.5rem;
}
body::-webkit-scrollbar-track {
    background: rgb(168, 122, 139)
}
body::-webkit-scrollbar-thumb {
    background: rgb(61, 3, 78)
}
.page > .header > a {
    font-size: 64px;
    font-family: 'Poiret One', cursive;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.active {
    display: block;
}

#home {
    background-color: rgb(168, 122, 139)
}

#event-map {
    background-color: #8a688a;
}

#event-add {
    background-color: rgb(88, 75, 110);
}

#about-contact {
    background-color: rgb(104, 69, 82);
} */

/* .tab-list {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px;
}

a > ul > li {
    background-color: rgb(124, 97, 173);
    color: white;
    border: none;
    outline: none;
    cursor: auto;
    padding: 16px 0px;
    font-size: 23px;
    width: 25%;
    list-style-type: none;
    text-decoration: none;
}

.tablink:hover {
    background-color: rgb(81, 26, 184);
} */
.search-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(81, 26, 184, 0.548);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.fa-search {
    color: rgb(255, 255, 255);
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(81, 26, 184, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: -10px;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 0px;
    width: 0px;
}
#homePageImage1 {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: static;
    background-image: url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.footer > p > a:link, a:active, a:visited {
    color: rgb(61, 3, 78);
    text-decoration: none;
    font-size: 32px;
}

.footer > p > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
}

.addEventForm > h2 {
    text-align: left;
    font-size: 32px;
    padding: 5px;
    color: rgb(223, 176, 230);
}

.about > h2, p {
    text-align: left;
    font-size: 32px;
    padding: 5px;
    color: rgb(223, 176, 230);
}

form.addform > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: wrap;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 24px;
    color: rgb(223, 176, 230);
}

.contactForm > h2 {
    text-align: left;
    font-size: 32px;
    padding-left: 5px;
    color: rgb(223, 176, 230);
}

form.contact > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: wrap;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 24px;
    color: rgb(223, 176, 230);
}

#submit {
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 16px 24px;
    border: 2px;
}