body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Candara, Georgia, 'Times New Roman', Times, serif;
}

.page > .header > a {
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
    font-size: 64px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.active {
    display: block;
}

#home {
    background-color: rgb(168, 122, 139)
}

#event-map {
    background-color: #8a688a;
}

#event-add {
    background-color: rgb(88, 75, 110);
}

#about-contact {
    background-color: rgb(104, 69, 82);
}

.tab-list {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px;
}

a > ul > li {
    background-color: rgb(124, 97, 173);
    color: white;
    border: none;
    outline: none;
    cursor: auto;
    padding: 16px 0px;
    font-size: 17px;
    width: 25%;
    list-style-type: none;
    text-decoration: none;
}

.tablink:hover {
    background-color: rgb(81, 26, 184);
}
.search-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(81, 26, 184, 0.548);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.fa-search {
    color: rgb(255, 255, 255);
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(81, 26, 184, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
#homePageImage1 {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: static;
    background-image: url(https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.footer > p > a:link, a:active, a:visited {
    color: rgb(61, 3, 78);
    text-decoration: none;
    font-size: 32px;
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
}

.footer > p > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
}

.addEventForm > h2 {
    text-align: left;
    font-size: 32px;
    padding: 5px;
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
    color: rgb(223, 176, 230);
}

.about > h2, p {
    text-align: left;
    font-size: 32px;
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    color: rgb(223, 176, 230);
}

form.addform > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: wrap;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 24px;
    color: rgb(223, 176, 230);
}

.contactForm > h2 {
    text-align: left;
    font-size: 32px;
    padding-left: 5px;
    font-family: Candara, Georgia, Times, 'Times New Roman', serif;
    color: rgb(223, 176, 230);
}

form.contact > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: wrap;
    justify-content: space-between;
    padding: 15px 5px;
    font-size: 24px;
    color: rgb(223, 176, 230);
}

#submit {
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
    margin: auto;
    padding: 16px 24px;
    border: 2px;
}